.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 640px;
  max-width: 360px;
}

.buttons-container {
  display: flex;
  margin-top: 600px;
}

.cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.custom-button {
  background-color: transparent;
  border: none;
  padding: 5px;
}
