.footer-container {
  background: linear-gradient(to top, #f7b831b2, #ffce3c8f);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.footer-container > button {
  background-color: transparent;
  border: none;
  margin-left: 50px;
  margin-right: 50px;
}
