.container-recipe-details {
  position: relative;
}

.container-content-recipe-details {
  margin-top: 75%;
  padding: 10px;
}

.overlay-recipe-details {
  background-color: rgba(0, 0, 0, 0.212);
  height: 280px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

}

.img-recipe-details {
  height: 280px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.title-container-recipe-details {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  position: absolute;
  top: 5%;
  width: 90%;
  z-index: 3;
}

.title-recipe-details {
  color: white;
  font-size: 40px;
  text-align: center;
  top: 5%;
  z-index: 2;
}

.buttons-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.buttons-icon-container > button {
  background-color: rgba(255, 255, 255, 0.541);
  border: none;
  border-radius: 50%;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  z-index: 2;
}

.video-recipe-details {
  display: flex;
  justify-content: center;
}

.center-title {
  text-align: center;
}

.button-play-recipes {
  display: flex;
  justify-content: center;
}
