.container-recipe-details {
  position: relative;
}

.container-content-recipe-details {
  margin-top: 75%;
  padding: 20px;
}

.overlay-recipe-details {
  background-color: rgba(0, 0, 0, 0.212);
  height: 280px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.img-recipe-details {
  height: 280px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.title-recipe-details {
  color: white;
  display: flex;
  font-size: 30px;
  left: 10px;
  position: absolute;
  right: 10px;
  top: 5%;
}

.buttons-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video-recipe-details {
  display: flex;
  justify-content: center;
}

.center-title {
  text-align: center;
}

.button-play-recipes {
  display: flex;
  justify-content: center;
}
