/* .header-title {
  background-color: rgb(219, 6, 6);
  display: flex;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  flex-direction: column;
  text-align: center;
} */


.header-container {
  align-items: end;
  background: linear-gradient(to bottom, #f7b83181, #ffce3c15);
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.margin-bottom {
  padding-bottom: 100px;
}

.header-container-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.button-header {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.img-container {
  display: flex;
  width: 40%;
}

.header-container-button > div > button {
  background-color: transparent;
  border: none;
}

.title-container > h1 {
  color: rgb(62, 2, 102);
}

.title-container {
  left: 0;
  right: 0;
  width: 100%;
}

