* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  max-height: 100%;
  max-width: 340px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.buttons-container > div > button {
  background-color: transparent;
  border: none;
}

.buttons-container > div > button > div {
  font-size: 0.9em;
}

.buttons-container > button {
  background-color: transparent;
  border: none;
}

.btn-category-all {
  align-items: flex-end;
  background-image: url('../images/icons/all.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 75px;
  justify-content: center;
  width: 60px;
}

.btn-category-beef {
  align-items: flex-end;
  background-image: url('../images/icons/beef.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 75px;
  justify-content: center;
  width: 60px;
}

.btn-category-breakfast {
  align-items: flex-end;
  background-image: url('../images/icons/breakfast.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 75px;
  justify-content: center;
  width: 60px;
}

.btn-category-chicken {
  align-items: flex-end;
  background-image: url('../images/icons/chicken.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 75px;
  justify-content: center;
  width: 60px;
}

.btn-category-dessert {
  align-items: flex-end;
  background-image: url('../images/icons/dessert.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 75px;
  justify-content: center;
  width: 60px;
}

.btn-category-goat {
  align-items: flex-end;
  background-image: url('../images/icons/goat.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 75px;
  justify-content: center;
  width: 60px;
}

.btn-category-all-drinks {
  align-items: flex-end;
  background-image: url('../images/icons/all.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 85px;
  justify-content: center;
  width: 60px;
}

.btn-category-ordinary {
  align-items: flex-end;
  background-image: url('../images/icons/goat.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 85px;
  justify-content: center;
  width: 60px;
}

.btn-category-cocktail {
  align-items: flex-end;
  background-image: url('../images/icons/goat.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 60px;
}

.btn-category-shake {
  align-items: flex-end;
  background-image: url('../images/icons/goat.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 60px;
}

.btn-category-cocoa {
  align-items: flex-end;
  background-image: url('../images/icons/dessert.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 85px;
  justify-content: center;
  width: 60px;
}


.btn-category-other.unknown {
  align-items: flex-end;
  background-image: url('../images/icons/dessert.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  display: flex;
  height: 85px;
  justify-content: center;
  width: 60px;
}

.cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.custom-button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  width: 100%;
}


.custom-button:hover {
  background-color: #eaeaea; /* Substitua pela cor desejada */
}

.custom-button > img {
  border-radius: 10%;
  height: auto;
  width: 100%;
}

