.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  max-height: 640px;
  max-width: 340px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
}

.category-button {
  background-color: transparent;
  border: none;
  width: 60px;
}

.cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.custom-button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  width: 100%;
}


.custom-button:hover {
  background-color: #eaeaea; /* Substitua pela cor desejada */
}

.custom-button > img {
  height: auto;
  width: 100%;
}
